// colors
dark-grey = #373737

//materialColors
m-gold     = #F5A623
m-tin      = #50E3C2
m-glass    = #00C9FF
m-silver   = #B9D5CB
m-lithium  = #EDF414
m-acid     = #F70699
m-plastic  = #029E00
m-unkown   = #222
m-document = #666


//mixins
materialColor(color)
  background-color color
  .tooltip:before
    border-right-color color