.actions
  p
    margin 0
    
  a
    background-color #222
    border-radius    1px
    padding          8px 5px 5px
    margin           10px 10px 0 0
    display          inline-block
    width            300px
    text-align       center
    font-family      sans-serif
    color            #fff
    text-decoration  none
    line-height      1.2em
    
  .add-to-db
    background-color #666