.graph
  .material-list
    margin     0
    padding    0
    list-style none
    
    .dot
      position         relative
      float            left
      margin           1px
      width            10px
      height           10px
      background-color white
      border-radius    10px
      cursor           pointer
      &.document
        background-color #666
        border-radius    0
      &.unkown
        color            white
        background-color black
        border-radius    0
      &.gold
        background-color #F5A623
      &.tin
        background-color #50E3C2
      &.silver
        background-color #B9D5CB
      &.glass
        background-color #00C9FF
      &.lithium
        background-color #EDF414
      &.acid
        background-color #F70699
      &.plastic
        background-color #029E00
        
    .tooltip
      position         absolute
      bottom           15px
      left             0
      width            200px
      height           70px
      background-color inherit
      padding          10px
      z-index          10
      font-family sans-serif
      font-size   12px
      
      .dot-name
        font-size  14px
        margin     3px 0
        