.graph
  .device
    margin-top 20px
    
  .material-list
    margin     0
    padding    0
    list-style none
    
    .dot
      position         relative
      float            left
      margin           1px
      width            10px
      height           10px
      background-color white
      border-radius    10px
      cursor           pointer
      border-color     red
      &.document
        border-radius    0
        materialColor(#666)
      &.unkown
        color            white
        border-radius    0
        materialColor(#222)
      &.gold
        materialColor(m-gold)
      &.tin
        materialColor(m-tin)
      &.silver
        materialColor(m-silver)
      &.glass
        materialColor(m-glass)
      &.lithium
        materialColor(m-lithium)
      &.acid
        materialColor(m-acid)
      &.plastic
        materialColor(m-plastic)
        
    .tooltip
      position         absolute
      bottom           15px
      left             4px
      width            200px
      height           70px
      background-color inherit
      padding          10px
      z-index          10
      font-family      sans-serif
      font-size        12px
      box-shadow       -2px 6px 24px 0 #000
      &:before
        content            ''
        position           absolute
        bottom             -10px
        left               -2px
        width              0 
        height             0
        border-top         10px solid transparent
        border-bottom      10px solid transparent 
        border-right       10px solid
        border-right-color inherit
        transform          rotate(45deg)
      
      .dot-name
        font-size  14px
        margin     3px 0
        
  .legend
    clear      both
    padding    20px 0 0 0
    list-style none
  
  .legend-item
    float left
    &.gold
      color            m-gold
      &:before
        background-color m-gold
    &.tin
      color            m-tin
      &:before
        background-color m-tin
    &.silver
      color            m-silver
      &:before
        background-color m-silver
    &.glass
      color            m-glass
      &:before
        background-color m-glass
    &.lithium
      color            m-lithium
      &:before
        background-color m-lithium
    &.acid
      color            m-acid
      &:before
        background-color m-acid
    &.plastic
      color            m-plastic
      &:before
        background-color m-plastic
      
    &:before
      content ' '
      display inline-block
      width   10px
      height  10px
      margin  0 5px 0 15px
      border-radius 10px
      
  .dot-weight
    &:before
      content     '='
      text-indent 15px
      display     inline-block
      width       10px
      height      10px
      margin      0 25px 0 15px
      background-color #222
    