.graph
  margin-top 20px    
    
  .material-list
    margin     0
    padding    0
    list-style none
    
    .dot
      position         relative
      float            left
      margin           1px
      width            10px
      height           10px
      background-color white
      border-radius    10px
      cursor           pointer
      border-color     red
      font-size        9px
      text-align       center

      &.document
        border-radius 0
        materialColor(m-document)
      &.unkown
        color         m-document
        border-radius 0
        materialColor(m-unkown)
      &.gold
        materialColor(m-gold)
      &.tin
        materialColor(m-tin)
      &.silver
        materialColor(m-silver)
      &.glass
        materialColor(m-glass)
      &.lithium
        materialColor(m-lithium)
      &.acid
        materialColor(m-acid)
      &.plastic
        materialColor(m-plastic)