.header
  position         absolute
  top              0
  left             0
  height           40px
  width            100%
  padding          15px 20px
  background-color #222
  font-family      sans-serif
  color            #fff
  
  .circle
    display inline-block
    width   10px 
    height  10px
    border-radius 10px
    background-color #951B1B
    
  .square
    display inline-block
    width   10px 
    height  10px
    margin  0 5px 0 2px
    background-color #258ED5
  